body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

#app {
  flex: 1;
  display: grid;
  place-items: center;
}